<aside class="admin-sideNav">
    <div class="header">

    </div>
    <nav class="admin-navs">
        <a href="/admin" class="nav-links"><i class="far fa-bags-shopping nav-icon"></i> <span
                class="navText">Orders</span></a>
        <a href="/admin/inbox" class="nav-links"><i class="far fa-envelope nav-icon"></i> <span
                class="navText">inbox</span></a>
        <a href="/admin/createproduct" class="nav-links"><i class="far fa-cart-plus nav-icon"></i> <span
                class="navText">Create Product</span></a>
        <a href="/admin/products" class="nav-links"><i class="fas fa-inventory nav-icon"></i> <span
                class="navText">Products</span></a>
        <a href="/admin" class="nav-links"><i class="fas fa-tachometer nav-icon"></i> <span
                class="navText">Dashboard</span></a>
        <a href="/admin/students" class="nav-links"><i class="fa fa-user-friends nav-icon"></i> <span
                class="navText">students</span></a>
        <a href="/admin/login" class="nav-links"><i class="fa fa-sign-out nav-icon"></i> <span class="navText">sign
                out</span></a>
    </nav>
</aside>