<div class="newsletter-success-parent success invisible">
    
    <div class="newsletter-success">
        <div class="cancelBtn"><i class="fa fa-times"></i></div>
        <div>
            <i class="fal fa-envelope"></i>
        </div>
        <p class="success-message"> Thanks for contacting us</p>
        <p claas="success-message">we have received your message we will get back to you </p>
        
    </div>
</div>
<div class="newsletter-success-parent error invisible">
    
    <div class="newsletter-success error">
        
        <div class="error">
            <i class="fal fa-exclamation-triangle"></i>
        </div>
        <p class="success-message error"> error sending your message</p>
        <p claas="success-message error">we are unable to receive your message due to an error you make pls retry </p>
        
    </div>
</div>