<footer class="foooter">
    <a href="/newsletter" class="goToNewsLetter" id="goToNewsLetter">Get More Updates</a>
    <div class="contacts">
        <a href="#" class="contact-links" id=""><i class="fab fa-facebook"></i></a>
        <a href="#" class="contact-links" id=""><i class="fab fa-whatsapp"></i></a>
        <a href="#" class="contact-links" id=""><i class="fab fa-twitter"></i></a>
        <a href="#" class="contact-links" id=""><i class="fab fa-instagram"></i></a>
    </div>
    <p class="copyright">Copyright© ZeroToOne 2022</p>
</footer>