<header class="header">
    <h2>ZeroToOne</h2>
    <nav class="navBar">
        <ul class="nav-container">

            <li class="nav-item"><a href="/" class="nav-link"> <i class="fa fa-home"></i>{{!-- Home --}}</a></li>
           

            {{#if user}}
            <li class="nav-item"><a href="/products/{{user._id}}" class="nav-link"><i class="fas fa-product-hunt"></i> {{!--Products --}}</a></li>
            {{else}}
            <li class="nav-item"><a href="/products" class="nav-link"><i class="fas fa-inventory"></i> {{!-- Products--}}</a></li>
            {{/if}}


            <li class="nav-item"><a href="/contactus" class="nav-link"><i class="fas fa-address-book "
                        style="rotate: 45deg;"></i> {{!-- Contact --}}</a></li>
            <li class="nav-item"><a href="/services" class="nav-link"> <i class="fa fa-wifi" style="rotate: 49deg;"></i>
                    {{!-- Services --}}</a></li>

                    {{#if user}}
                    <li class="nav-item"><a href="/login" class="nav-link"> <i class="fa fa-sign-out"  49deg;"></i>
            sign out</a></li>
                    {{else}}
                        <li class="nav-item"><a href="/login" class="nav-link"> <i class="fa fa-sign-in" ></i>
            sign in</a></li>
                    {{/if}}
            
            


        </ul>
    </nav>
    <a id="displaySideNav" onclick="openSideBar()" class="displaySideNavBtn"><i class="fa fa-bars"></i></a>

</header>