<div class="newsletter-success-parent">
    <div class="newsletter-success">
        <div>
            <i class="fa fa-envelope-square"></i>
        </div>
        <p class="success-message"> Thanks for subscribing to our platform</p>
        <p claas="success-message">we will surely communicate our updates to you  </p>
        
    </div>
</div>