<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> --}}
  <link rel="stylesheet" href="/stylesheets/icon.css"
  <link rel="stylesheet" href="/stylesheets/cart.css">

  <link rel="stylesheet" href="/stylesheets/products.css">
  <link rel="stylesheet" href="/stylesheets/adminpanel.css">
  <link rel="stylesheet" href="/stylesheets/newslettersuccess.css">
  <link rel="favicon" href=""/>
  <title>ZeroToOne</title>
</head>

<body>

  {{{body}}}


</body>


<script src="/javascripts/index.js"></script>
<script src="/javascripts/jQuery.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script> --}}
<script src="/javascripts/icon.js"></script>

</html>