<div class="container">
    {{>header}}

    <div class="main-body">
        {{>customersNavBar}}
        <div class="shopping-cart-container">
            <div class="shopping-cart child">`
                <div class="shopping-cart-header">
                    <h3 class="items-heading">Shopping Cart</h3>
                    <button><i class="fad fa-shopping-cart"></i></button>
                </div>
                <ul class="cart-items-container">

                </ul>

            </div>

            <div class="cart-total child">
                <h3 class="Heading">Cart Details</h3>

                <h2 id="numOfItems">Number of Items: </h2>
                <h1 class="totalQuantity">Total Quantities: </h1>
                <h2 class="total">Total price: &#8358;<span class="Total" id="total"></span> </h2>
                <button id="purchase" class="checkoutBtn" >checkout</button>
            </div>
        </div>


    </div>
        

    {{>footer}}
</div>
{{>sideNav}}

<script src="/javascripts/cart.js" async></script>
<script src="/javascripts/checkout.js"></script>
