<div class="main-container">
    {{>adminHeader}}
    <div class="admin-body">
        <div class="admin-detail">
            <img src="/images/background.jpg" alt="admin-img">
            <div class="name">
                <h3 class="admin-name">{{admin}}</h3>
            </div>
        </div>

        <div class="charts">
            <h1 class="charts">Dashboard</h1>
            <div class="dashboard-container">
                <div class="dashboard-item">
                    <h2>Orders</h2>
                    <div class="amount"><h1>50</h1> <p class="pending">Pending</p></div>
                </div>
                <div class="dashboard-item inbox">
                    <h2>inbox</h2>
                    <div class="amount"><h1>50</h1> <p class="pending">Pending</p></div>
                </div>
            </div>
        </div>



    </div>
</div>