<div class="container">
    {{>header}}
    <div class="intro">
        <h1 class="logo">About us</h1>
        <p> We serve you based on the principle of WYSWYG</p>
        <a href="/products" class="linkToProducts">visit us today</a>
    </div>
    <div class="main-body">
    
        <div class="services">
            {{#if user}}
            
            {{/if}}
            <h1 class="s-header">Services   </h1>
            <p>these are our services</p>

            <div class="services-container">
                <div class="service-item">
                    <h1 class="service-icon"><i class="fa fa-desktop"></i></h1>
                    <h2>software development</h2>
                    <p> We render various software development services such as  Web development,
                        cross-platform Desktop Apps development, Android and IOS Apps development e.t.c </p>
                    </p>
                    <a href="/errorpage" class="btn-primary    btn">Learn More <i
                            class="fa fa-arrow-right"></i></a>
                </div>
                <div class="service-item">
                    <h1 class="service-icon"><i class="fas fa-chalkboard-teacher"></i></h1>
                    <h2>UTME Registration and CBT</h2>
                    <p> We also do UTME Registration and CBT and other Related services with CBT
                        centre attendants around</p>
                    </p>
                    <a href="/errorpage" class="btn-primary    btn">Learn More <i
                            class="fa fa-arrow-right"></i></a>
                </div>
                <div class="service-item">
                    <h1 class="service-icon"><i class="fa fa-hotdog"></i></h1>
                    <h2>Restaurant services</h2>
                    <p> We also have a Restaurant active from 8:00am to 6:00pm with various kind
                        of foods and snacks</p>
                    </p>
                    <a href="/errorpage" class="btn-primary    btn">Learn More <i
                            class="fa fa-arrow-right"></i></a>
                </div>
                <div class="service-item">
                    <h1 class="service-icon"><i class="fa fa-laptop"></i></h1>
                    <h2>Laptops and accesories</h2>
                    <p> We also deal in sales of all kind of highly graded and modern
                        Laptops and computer devices accessories you would wish to own.</p>
                    </p>
                    <a href="/errorpage" class="btn-primary    btn">Learn More <i
                            class="fa fa-arrow-right"></i></a>
                </div>

                <div class="service-item">
                    <h1 class="service-icon"><i class="fas fa-chalkboard-teacher"></i></h1>
                    <h2>programming classes</h2>
                    <p> We also impact and promote the Knowledge of programming to aspiring students who wish to have the
                        knowledge of programming using modern technologgies</p>
                    </p>
                    <a href="/errorpage" class="btn-primary    btn">Learn More <i
                            class="fa fa-arrow-right"></i></a>
                </div>
                <div class="service-item">
                    <h1 class="service-icon"><i class="fas fa-chalkboard-teacher"></i></h1>
                    <h2>Catering services</h2>
                    <p> We also deal in outdoor catering services at events for </p>
                    <a href="/errorpage" class="btn-primary    btn">Learn More <i
                            class="fa fa-arrow-right"></i></a>
                </div>
            </div>





        </div>

    
    </div>


    {{>footer}}
</div>
{{>sideNav}}