<link rel="stylesheet" href="/stylesheets/newsletter.css">



<div class="container">
    {{>header}}

    <div class="main-body">
        <div class="form-container">
            <h1 class="form-header">Newsletter</h1>
            <form method="post" id="newsletterForm">
                <div class="inputbox">
                    <span>Full name</span>
                    <input type="text" id="fullName" name="fullName" class="form-control" required="required">
                    
                </div>
                <div class="inputbox">
                    <span>Email</span>
                    <input type="email" id="email" name="email" class="form-control" required="required">
                    
                </div>
                <button type="submit" class="submitBtn">Subscribe</button>
            </form>
        </div>
    </div>
    {{>footer}}
</div>
{{>sideNav}}
<script src="/javascripts/newsletter.js"></script>